
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <h3> Thank you !!</h3>
    <table class="table">
        <tr>
            <td> First name </td>
            <td>  @ViewBag.firstname </td>
        </tr>
        <tr>
            <td>Last name</td>
            <td> @ViewBag.lastname</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td> @ViewBag.phone</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@ViewBag.gender</td>
        </tr>
        <tr>
            <td>Hobbies</td>
            <td>
                @foreach(var item in ViewBag.hobbies)
                {
                    <p>@item</p>
                }
            </td>
        </tr>
        <tr>
            <td>Participate in Suvey</td>
            <td>@ViewBag.options</td>
        </tr>
    </table>

</div>

