
@{
    ViewBag.Title = "PersonalDetails";
}

<h2>Personal Details</h2>
@using (Html.BeginForm())
{
    <div class="container">
        <table class="table">
            <tr>
                <th>First Name</th>
                <td>
                    @Html.TextBox("firstname") 
                </td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>
                    @Html.TextBox("lastname")
                </td>
            </tr>
            <tr>
                <th>Mobile Number</th>
                <td>
                    @Html.TextBox("phone")
                </td>
            </tr>
            <tr>
                <th>Select Gender</th>
                <td>
                    @Html.RadioButton("Gender", "Male") Male
                    @Html.RadioButton("Gender", "Female") Female
                </td>
            </tr>
            <tr>
                <th>Select Hobbies</th>
                <td>
                    <input type="checkbox" value="Reading" name="hobbies" /> Reading
                    <input type="checkbox" value="Music" name="hobbies" /> Music
                    <input type="checkbox" value="Sports" name="hobbies" /> Sports
                </td>
            </tr>
            <tr>
                <th>Would you like to participate in survey ?</th>
                <td>
                    @Html.DropDownList("Options");
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>

    </div>

}


